<!-- Personalización: tipografía, estilos y animaciones del tema "hacker" -->
<script>document.documentElement.classList.add('hx-js');</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;800&display=swap">
<link rel="stylesheet" href="{{ '/assets/css/hacker.css' | relative_url }}">
<script defer src="{{ '/assets/js/hacker.js' | relative_url }}"></script>
<script id="hx-frases" type="application/json">{{ site.data.frases | jsonify }}</script>
